{#
 # Example usage
 #}

{# Define used columns, column names in brackets are not shown in compact mode #}
{# Available default columns are: Id, Content, Thumbnail, Meta and Actions  #}


{% block listing_columns %}
    Id, Slug, (Nothing), (Meta), Actions
{% endblock %}

{# Define column headers (<th>) and data areas (<td>) for your own colums or overwrite the default ones #}

{#
{% block listing_hcol_slug %}
    {% from '@bolt/_buic/_listing.twig' import buic_listing_slink %}

    <th>
        {{ buic_listing_slink('slug', __('Slug')) }}
    </th>
{% endblock %}

{% block listing_dcol_slug %}
    <td style="fill-max">
        {{ listing.content.contenttype.slug }}
    </td>
{% endblock %}

{% block listing_hcol_nothing %}
    <th>
        Nothing
    </th>
{% endblock %}

{% block listing_dcol_nothing %}
    <td>
        This space is for rent!
    </td>
{% endblock %}

#}