/**
 * BUIC: Thumbnail.
 */
.buic-thumbnail {
    display: block;
    position: relative;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: auto;
    }

    &.wide {
        img {
            width: 100%;
            height: auto;
        }
    }

    &.vcenter img {
        display: block;
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}

.buic-listing {
    .buic-thumbnail {
        width: 80px;
        height: 60px;
    }
}