/**
 * BUIC: Thumbnail.
 */
.buic-thumbnail {
    $default-width: 96px;
    $default-height: 72px;
    $checkered-size: 6px;
    $checkered-color1: #eee;
    $checkered-color2: #fff;

    display: table;
    width: $default-width;
    max-width: $default-width;
    height: $default-height;
    max-height: $default-height;

    div {
        display: table-cell;
        width: inherit;
        max-width: inherit;
        height: inherit;
        max-height: inherit;
        vertical-align: middle;
        text-align: center;
    }

    &.top div {
        vertical-align: top;
    }

    &.vcollapse {
        height: auto !important;
    }

    &.checkered {
        background-color: $checkered-color1;
        background-image: linear-gradient(45deg, $checkered-color2 25%, transparent 25%, transparent 75%, $checkered-color2 75%),
        linear-gradient(45deg, $checkered-color2 25%, transparent 25%, transparent 75%, $checkered-color2 75%);
        background-size: ($checkered-size * 2) ($checkered-size * 2);
        background-position: 0 0, $checkered-size $checkered-size;
    }

    img {
        display: inline-block;
        max-width: 100% !important; // Because of .dashboardlisting td.listthumb img {max-width: inherit;}
        max-height: inherit;
    }
}
