{#
 # Default listing column: ID.
 #}

{% macro head_id() %}
    {% from '@bolt/_buic/_listing.twig' import buic_listing_slink %}

    <th class="hidden-xs">{{ buic_listing_slink('id', __('Id'))}}</th>
{% endmacro %}

{% macro data_id(listing) %}
    <td class="id hidden-xs">№ {{ listing.content.id }}</td>
{% endmacro %}
