{##
 # Renders a image thumbnail.
 #
 # @param string  path
 # @param integer size
 #}
{% macro buic_thumbnail(path, size) %}
    {% if path is not empty %}
        {# Hack to add alt attribute #}
        {#{ path|popup(size, size * 0.75, 'c') }#}
        {% set thumb_height = (size * 0.75)|round %}
        {% set thumb_small = path|thumbnail(size, thumb_height, 'c') %}
        {% set thumb_large = path|thumbnail(1000, 800, 'r') %}
        {% set thumb_title = __('Image') ~ ': ' ~ path %}

        {% set attr = {
            image: {
                'src':     thumb_small,
                'width':   size,
                'height':  thumb_height,
                'alt':     __('Thumbnail')
            },
            link: {
                'class':  'magnific',
                'ref':    thumb_large,
                'title':  thumb_title
            },
        } %}

        <a{{ hattr(attr.link)}}><img{{ hattr(attr.image)}}></a>
    {% endif %}
{% endmacro %}
