{##
 # Renders a image thumbnail.
 #
 # @param string  path
 # @param integer width
 # @param integer height
 #}
{% macro buic_thumbnail(path, width, height) %}
    {% if path is not empty %}
        {% set thumb_small = path|thumbnail(width, height, 'r') %}
        {% set thumb_large = path|thumbnail(1000, 800, 'r') %}
        {% set thumb_title = __('Image') ~ ': ' ~ path %}

        {% set attr = {
            container: {
                'class':  'buic-thumbnail magnific',
                'ref':    thumb_large,
                'title':  thumb_title,
                'style':  'width:' ~ width ~ 'px; height:' ~ height ~ 'px;',
            },
            image: {
                'src':     thumb_small,
                'alt':     __('Thumbnail'),
            },
        } %}

        <a{{ hattr(attr.container)}}><img{{ hattr(attr.image)}}></a>
    {% endif %}
{% endmacro %}
