{##
 # Renders a image thumbnail.
 #
 # @param string  path
 # @param integer width
 # @param integer height
 #}
{% macro buic_thumbnail(path, width, height) %}
    {% if path is not empty %}
        {% set thumb_small = path|thumbnail(width, height, 'c') %}
        {% set thumb_large = path|thumbnail(1000, 800, 'r') %}
        {% set thumb_title = __('Image') ~ ': ' ~ path %}

        {% set attr = {
            image: {
                'src':     thumb_small,
                'width':   width,
                'height':  height,
                'alt':     __('Thumbnail')
            },
            link: {
                'class':  'magnific',
                'ref':    thumb_large,
                'title':  thumb_title
            },
        } %}

        <a{{ hattr(attr.link)}}><img{{ hattr(attr.image)}}></a>
    {% endif %}
{% endmacro %}
