{##
 # Renders a image thumbnail.
 #
 # Options:
 #    vmode     string     'collapse'   Vertical size behavior: 'collapse', 'center' or 'fixed'
 #
 # @param string  path
 # @param integer width
 # @param string  sizes
 # @param array   opt Options defining the component
 #}
{% macro buic_thumbnail(path, sizes, opt) %}
    {% if path is not empty %}
        {% set conf = {
            top:        'top' in opt,
            vcollapse:  'vcollapse' in opt,
            checkered:  'checkered' in opt,
        } %}

        {% set info = imageinfo(path) %}
        {% if info.exists %}
            {% set img_width = info.dimensions.width %}
            {% set img_height = info.dimensions.height %}
            {% set filename = path|preg_replace('%^.*/%') %}
            {% set directory = path|preg_replace('%/*[^/]*$%') ~ '/' %}

            {% set info_text = [
                info.type,
                img_width ~ ' × ' ~ img_height,
                info.channels ~ ' × ' ~ info.bits ~ ' bits',
            ] %}

            {% set class = 'buic-thumbnail info-pop magnific' ~
                (conf.top ? ' top' : '') ~
                (conf.vcollapse ? ' vcollapse' : '') ~
                (conf.checkered ? ' checkered' : '')
            %}

            {% set attr = {
                container: {
                    'class':         class,
                    'data-content':  info_text|join('<br>'),
                    'data-html':     true,
                    'data-title':    directory|e ~ '<br><b>' ~ filename|e ~ '</b>',
                    'href':          path|thumbnail(1000, 800, 'r'),
                },
                image: {
                    'alt':           __('Thumbnail'),
                    'src':           path|thumbnail(128, 96, 'r'),
                    'srcset':        path|thumbnail(48, 38, 'r') ~ ' 48w,' ~
                                     path|thumbnail(64, 48, 'r') ~ ' 64w,' ~
                                     path|thumbnail(96, 72, 'r') ~ ' 96w,' ~
                                     path|thumbnail(128, 96, 'r') ~ ' 128w,' ~
                                     path|thumbnail(192, 144, 'r') ~ ' 192w,' ~
                                     path|thumbnail(256, 192, 'r') ~ ' 256w',
                    'sizes':         sizes,
                },
            } %}

            <a{{ hattr(attr.container)}}><div><img{{ hattr(attr.image)}}></div></a>
        {% endif %}
    {% endif %}
{% endmacro %}
